doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")

	body
		include partials/header.pug
		div.input-field-1
			h3(style="margin-top: 0")= title

			form#autoEmail(action='/autoEmailAndrea/results' method='POST' accept-charset="UTF-8")
				thead
					tr
						td
							input#prKy.input-unit-1(type='text', placeholder='enter data', name='prKyPost', value='', style="display: none")
						td
							label.input-label-1(for='vndNm' style="display: none") Vendor Name
							input#vndNm.input-unit-1(type='text', placeholder='enter data', name='vndNmPost', value='' style="display: none")
						td
							label.input-label-1(for='ediNm' style="display: none") EDI Name
							input#ediNm.input-unit-1(type='text', placeholder='enter data', name='ediNmPost', value='' style="display: none")
						td
							label.input-label-1(for='issuDt' style="display: none") Issue Date
							input#issuDt.input-unit-1(type='date', placeholder='enter data', name='issuDtPost', value='' style="display: none")
						td
							label.input-label-1(for='ndNwCt' style="display: none") Need New Catalog?
							input#ndNwCt.input-unit-1(type='text', placeholder='enter data', name='ndNwCtPost', value='' style="display: none")
						td
							label.input-label-1(for='updtwLtst' style="display: none") Updated w/ Latest?
							input#updtwLtst.input-unit-1(type='text', placeholder='enter data', name='updtwLtstPost', value='' style="display: none")
						td
							label.input-label-1(for='rptr' style="display: none") Reporter
							input#rptr.input-unit-1(type='text', placeholder='enter data', name='rptrPost', value='' style="display: none")
						td
							label.input-label-1(for='cmnt' style="display: none") Comments
							input#cmnt.input-unit-1(type='text', placeholder='enter data', name='cmntPost', value='' style="display: none")
						td
							label.input-label-1(for='andr' style="display: none") Andrea
							input#andr.input-unit-1(type='text', placeholder='enter data', name='andrPost', value='' style="display: none")

			button#searchDB(type='submit', form='autoEmail', style="display: block; float: left") Show Catalogs That Need To Be Updated
			br
			br
			//- button#saveCSV(type="submit" form="saveCSVPost") Save Results as CSV
			//- form#saveCSVPost(action='/autoEmail/saveCSV' method='POST' accept-charset='UTF-8')
			//- 	label.input-label-1(for='csv') filename:
			//- 		input#csv.input-unit-1(type='text', placeholder='enter filename here', name='csvPost', value='')

		div.rslt-tbl-1
			form#sendEmail(action='/autoEmailAndrea/formPost' method='POST' accept-charset="UTF-8")
				thead
					tr
						td
							input#prKy(type='text', name='prKyPost', style="display: none")
						td
							label.input-label-1(for='autoEmailVndNm') Vendor Name
							input#autoEmailVndNm.input-unit-1(type='text', placeholder='enter data', name='vndNmPost', required='')
						td
							label.input-label-1(for='autoEmailVndEmail') Vendor Email
							input#autoEmailVndEmail.input-unit-1(type='text', placeholder='enter data', name='vndEmailPost', required='', value='')
						td
							label.input-label-1(for='senderEmail') Sender Email
							input#senderEmail.input-unit-1(type='text', placeholder='enter data', name='senderEmailPost', required='', value='')
						td
							label.input-label-1(for='senderEmailPW') Sender Email Password
							input#senderEmailPW.input-unit-1(type='password', placeholder='enter data', name='senderEmailPWPost', required='', value='')


			button(type='submit', form='sendEmail', style="display: block; float: left") Send Auto Email(s)

		div.rslt-tbl-1
			table#resTbl
				//- button#editDB(style="display: inline-block") Edit Selection
				//- button#deleteSelection(style="display: inline-block") Delete Selection
				thead
					tr
						th(onclick="sortTable(0)") Primary Key
						th(onclick="sortTable(1)") Vendor Name
						th(onclick="sortTable(2)") EDI Name
						th(onclick="sortTable(3)") Issue Date
						th(onclick="sortTable(4)") Need New Catalog?
						th(onclick="sortTable(5)") Updated w/ Latest?
						th(onclick="sortTable(6)") Reporter
						th(onclick="sortTable(7)") Comments
						th(onclick="sortTable(8)") Andrea
						th(onclick="sortTable(9)") Vendor Email



				tbody#resTblBdy
					if searchResRows !== undefined
						each elmnt in searchResRows
							tr
								td= elmnt.P_K
								td= elmnt.Vendor
								td= elmnt.EDI
								td= elmnt.IssDt
								td= elmnt.NdNw
								td= elmnt.Updtd
								td= elmnt.Rep
								td= elmnt.Cmnts
								td= elmnt.Andr
								td= elmnt.vndemail

		

			table
				//- thead
				//- 	tr
				//- 		th Primary Key
				//- 		th Vendor Name
				//- 		th EDI Name
				//- 		th Issue Date
				//- 		th Need New Catalog?
				//- 		th Updated w/ Latest?
				//- 		th Reporter
				//- 		th Comments
				//- 		th Andrea
				//- 		th Vendor Email



				tbody
					if sentEmailRows !== undefined
						each elmnt in sentEmailRows
							tr
								td= elmnt.P_K
								td= elmnt.Vendor
								td= elmnt.EDI
								td= elmnt.IssDt
								td= elmnt.NdNw
								td= elmnt.Updtd
								td= elmnt.Rep
								td= elmnt.Cmnts
								td= elmnt.Andr
								td= elmnt.vndemail



		//- script(src='/javascripts/autoEmail.js')
		script(src='/javascripts/modules/sortTableM0d.js')
		script(src='/javascripts/modules/needNewCatTblM0d.js')
		script(src='/javascripts/modules/dateCalcM0d.js')
		script(src='/javascripts/modules/editDBM0d.js')
